<%# link_to "TESTING", test_path%>
<%# console%>
<div class="container">
	<div class="row">
		<div class="center">
			<div class="position">
				<h1>Finding Surebet...</h1>
				<small><em><a href="http://monolok.github.io/online" target="_blank">By Monolok</a></em></small>
				<br>
				<i class="fa fa-cog fa-spin fa-5x"></i>	
			</div>	
		</div>
	</div>
</div>

